:root {
  --primary-color: #ffc107; /* Amarillo/verde, puedes ajustar el color */
  --dark-bg: #181818;      /* Fondo oscuro, puedes ajustar el color */
  --secondary-color: #2ecc71; /* Verde secundario, opcional */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el portafolio */
.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.portfolio-item img:hover {
    transform: scale(1.05);
}

.portfolio-info {
    text-align: center;
}

.portfolio-title {
    font-size: 1.5rem; /* Tamaño del título */
    font-weight: bold;
    color: #ffffff; /* Color blanco para el título */
    transition: color 0.3s ease;
}

.portfolio-title:hover {
    color: #f39c12; /* Color al pasar el mouse */
}

.portfolio-description {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo transparente */
    padding: 10px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8); /* Blanco más apagado */
    font-size: 0.9rem; /* Fuente más pequeña */
    text-align: left;
    margin-top: 10px;
    transition: all 0.3s ease;
}
